[0;1;32m●[0m certbot.timer - Run certbot twice daily
     Loaded: loaded (/lib/systemd/system/certbot.timer; enabled; vendor preset: enabled)
     Active: [0;1;32mactive (waiting)[0m since Thu 2023-12-21 16:36:08 UTC; 1min 0s ago
    Trigger: Fri 2023-12-22 09:38:40 UTC; 17h left
   Triggers: ● certbot.service

Dec 21 16:36:08 server-curriculum systemd[1]: Started Run certbot twice daily.
